---
import MyDynamicComponent from "../components/MyDynamicComponent.astro";
import MyServerIsland from "../components/MyServerIsland.astro";

export const prerender = false;

Astro.response.headers.set(
  "CDN-Cache-Control",
  "public, max-age=300, s-maxage=3600"
);

const random = Math.random() * 1000;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body class="border">
    <h2>SSG STATIC PAGE</h2>
    <p>
      This is a static page (following value should never change): <strong
        >{random}</strong
      >
    </p>
    <br />
    <MyServerIsland server:defer>
      <p slot="fallback">loading...</p>
    </MyServerIsland>
    <br />
    <MyDynamicComponent />
  </body>
</html>

<style>
  .border {
    padding: 10px;
    border: 1px solid black;
  }
</style>
